form{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 20px;
    margin: auto;
}
label{
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}
input{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
}
button{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #1F3A8C;
    color: white;
    margin-bottom: 10px;
    width: 100%;
}