<form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" formControlName="loginEmail" class="form-control" id="email" name="email" required>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" formControlName="loginPassword" class="form-control" id="password" name="password"required>
    </div>
    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Submit</button>
</form>