
.wrap-nav{
	display: flex;
	justify-content: space-between;
}
nav{
    background-color: #193073;
	height: 75px;

}
nav .nav-link{
    color: white;
}
.shop-logo{
	display: flex;
	justify-content: space-between;
	padding: 10px;
}
button.cart-btn{
	background-color: #193073;
	color: white;
	border: none;
	padding: 10px;
	border-radius: 5px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}
.button-function{
	display: flex;
	flex-wrap: nowrap;
}
.bg-blue{
	background-color: #193073;
}
#navbarSupportedContent{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
button.btn{
	border: 1 solid white;
	color: white;
	border: none;
	padding: 10px;
	border-radius: 10px;
	cursor: pointer;
	display: flex;
	margin: 0 10px;
	justify-content: center;
	align-items: center;
}
button.btn:hover{
	background-color: white;
	color: #193073;
}
.btn-wrap{
	display: flex;
	align-items: center;
}