<head>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<div class="shop-logo" routerLink="/homepage">
	<h1 class="brand-name">
		phukien
	</h1>
	<div class="shopping_cart">
		<div *ngIf = "isLogin()">
			<div *ngIf="roleCheck()">
				<button class="btn cart-btn"  data-bs-toggle="offcanvas" data-bs-target="#shop-cart"> <i class="material-icons">shopping_cart</i></button>
			</div>
			
		</div>
	</div>
</div>
<nav class="navbar navbar-expand-sm navbar-dark bg-blue">
	<div class="container">
	  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="mynavbar">
		<ul class="navbar-nav me-auto">
		  <li class="nav-item">
			<a class="nav-link" routerLink="/homepage">Tất cả sản phẩm</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link">Khác</a>
		  </li>
		</ul>
		<form class="d-flex">
			<div class="button-function">
				<div *ngIf = "isLogin(); else elseBlock">
					<div class="btn-wrap">
						<div *ngIf= "roleCheck(); else adminBlock">
							<button class="btn btn-outline-success" routerLink="/customer">{{displayName}}</button>
						</div>
						<ng-template #adminBlock>
							<button class="btn btn-outline-success" routerLink="/seller">{{displayName}}</button>
						</ng-template>
						<div>
							<button class="btn btn-outline-success" (click)="logout()" >Đăng xuất</button>
						</div>
					</div>
				</div>
				<ng-template #elseBlock>
					<div class="btn-wrap">
						<button data-bs-toggle="modal" data-bs-target="#signupModal" class="btn" id="openModal" >Sign Up</button>
						<button data-bs-toggle="modal" data-bs-target="#loginModal" class="btn" id="openModal" >Login</button>
					</div>
				</ng-template>
				
			</div>
		</form>
	  </div>
	</div>
  </nav>

<div class="modal fade" id="loginModal">
	<div class="modal-dialog">
	  <div class="modal-content">
  
		<!-- Modal Header -->
		<div class="modal-header">
		  <h4 class="modal-title">Login</h4>
		  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
		</div>
  
		<!-- Modal body -->
		<div class="modal-body">
			<app-login></app-login>
		</div>
	  </div>
	</div>
  </div>
  
  <div class="modal fade" id="signupModal">
	<div class="modal-dialog">
	  <div class="modal-content">
  
		<!-- Modal Header -->
		<div class="modal-header">
		  <h4 class="modal-title">Register</h4>
		  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
		</div>
  
		<!-- Modal body -->
		<div class="modal-body">
			<app-signup></app-signup>
		</div>
		
	  </div>
	</div>
  </div>

