<div class="wrap-box">
    <div *ngFor = "let order of allBill">
        <div class="bill">
            <div class="bill-Info">
                <div>
                    Ma don hang: {{order.id}}
                </div>
                <div>
                    Nguoi dat: {{order.email}}
                </div>
                <div>
                    Ngay dat: {{order.createDate}}
                </div>
                <div>
                    Ngay thanh toan
                </div>
                <div>
                    <div *ngIf = "isPaid(order.paidDate); else elseBlock">
                        <div class="paid">
                            Da thanh toan: {{order.paidDate | date : 'dd/MM/yyyy'}}
                        </div>
                    </div>
                    <ng-template #elseBlock>
                        <div class="not-paid">
                            Chua thanh toan
                        </div>
                    </ng-template>
                </div>
                <button data-bs-toggle="collapse" 
                        class="btn" [attr.data-bs-target]= "'#orderDetail' + order.id">
                    Xem Them
                </button>
            </div>
            <div class="bill-func">
                <div *ngIf = "isPaid(order.paidDate); else elseOrder">
                </div>
                <ng-template #elseOrder>
                    <button class="deleteBtn" (click)="deleteBill(order.id)">Xoa Don dat Hang</button>
                    <button class="getBtn" (click)="getOrder(order.id)">Nhan don hang</button>
                
                </ng-template>
            </div>
        </div>
        <div class="collapse" id="orderDetail{{order.id}}">
            <div class="card card-body">
                <div *ngFor = "let product of order.products">
                    <div class = "product">
                        <div>
                            Ten san pham {{product.product_name}}
                        </div>
                        <div>
                            Ma san pham {{product.product_id}}
                        </div>
                        <div>
                            So luong dat: {{product.product_quantity}}
                        </div>
                        <div>
                            Tong gia tri: {{product.total}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

          
          
        
    
    </div>
</div>
