<div class="wrap">
    <div class="row">
        <div class="col image">
           <img src="{{product.product_image}}" class="img-fluid">
        </div>
        <div class="col description">
            <h1>{{product.product_name}}</h1>
            <div class = "product_description">
                <label>Mo ta san pham:</label>
                <p>{{product.product_description}}</p>
            </div>
            <p>Gia ban: {{product.product_price}}</p>
            <p>So luong con lai: {{product.product_quantity}}</p>
            <input class = "form-control" type="number" #getQuantity min = "1" max="{{product.product_quantity}}" value="1" onKeyDown="return false">
            <button (click)="addToCart(getQuantity.value)">
                Them vao gio hang
            </button>
        </div>
    </div>
    
</div>
