.cate{
    margin: 20px 0;
}
.card-holder{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    width: 300px;
    height: 400px;
    margin:10px;
    border: solid rgba(0,0,0,0.1) 1px;
    border-radius: 5px;
    transition: ease-in-out 0,4s;
    box-shadow: 0px 0px 0px ;
    text-decoration: none;
    color: #000;
}
.card:hover{
    transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.4s;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.4) ;
   
}
.card-detail{
    padding: 5px 10px;
}
.card-title{
    font-size: 13pt;
}
.card-price{
    font-weight: 600;
}
.filtering{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}
.btn{
    background-color:#305AD9 ;
    border-radius: 0;
    border: 1px solid #2A4FBF;
    margin: 5px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.4) ;
    color: #fff;
}
input.form-control{
    border-radius: 0;
    border: 1px solid #2A4FBF;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.4) ;
    margin: 2px 0;
}
