<div class="row">
  <div class="col-xl-3">

    <input #minPrice class="form-control" placeholder="Min Value" type="number">
    <input #maxPrice class="form-control" placeholder="Max Value" type="number">
    <button class="btn" (click)="priceFilter(minPrice.value, maxPrice.value)">Filter</button>
  </div>
  <div class="col-xl-9">
    <div class="card-holder">
      <div *ngFor = "let product of products | paginate: { itemsPerPage: 12, currentPage: p} ">
        <a class="card" href="homepage/productdetail/{{product.productid}}">
          <div class="card-img">
            <img class= "img-fluid" src="{{product.product_image}}">
          </div>
          <div class="card-detail">
            <div class="card-title">
              {{product.product_name}}
            </div>
            <div class="card-price">
              {{product.product_price}} VND
            </div>
          </div>
             
        </a>
      </div>
    </div>
    <pagination-controls  (pageChange)="p = $event"
                          previousLabel="Trang trước"
                          nextLabel="Trang sau">
    </pagination-controls>
</div>
</div>
