.wrap-box{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier;
    flex-direction: column;
}
.box{
    display: inline;
}
.box .err-number{
    font-size: 150px;
    font-weight: bold;
    color: #f00;
}
.box .err-name{
    font-size: 30px;
    color: #666;
}
.err-text{
    color: rgb(0, 0, 0);
}
.homepage-btn{
    display: inline-block;
    padding: 10px 20px;
    background: transparent;
    color: rgb(0, 0, 0);
    font-size: 16px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    font-size: 30px;
    margin: 0;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.homepage-btn:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.homepage-btn:active {
    color: white;
}

.homepage-btn:active:after {
    background: transparent;
    
}

.homepage-btn:hover:before {
    opacity: 1;
    color: transparent
}

.homepage-btn:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}