<app-header>

</app-header>
<div class="container">
	<body>
		<router-outlet></router-outlet>
	</body>
</div>

<app-footer>

</app-footer>
<!-- Offcanvas Sidebar -->
<div class="offcanvas offcanvas-end" id="shop-cart">
	<div class="offcanvas-header">
	  <h1 class="offcanvas-title">shop cart</h1>
	</div>
	<div class="offcanvas-body" id="cart">
		<div *ngFor="let item of shopCart">
			<div class="product-name">
				{{item.productName}}
			</div>
			<div class="product-price" id="product-price">
				{{item.price}}
			</div>
			<div class="product-quantity">

			</div>
			<div class="delete-item">
				<button (click)= "deleteItemFromCart(item.id)">delete</button>
			</div>
		</div>
	</div>
	<div class="offcanvas-footer">
		<div class="total-price">
			{{totalPrice}}
		</div>
		<button class="btn btn-secondary" data-bs-dismiss="offcanvas" type="button">Đóng</button>
		<button class="btn btn-secondary" type="button" (click)="payNow()">Thanh Toán</button>
	</div>
	
</div>

